.banner {
  height: 100vh;
  position: relative;
  &__bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
  }
  &__container {
    height: 100%;
    &-searchbar {
      display: flex;
      height: 100%;
      .form-searchbar {
        background-color: white;
        padding: 30px 30px;
        display: flex;
        width: 60%;
        border: 1px solid hsl(0deg 0% 0% / 0.33);
        box-shadow: 4.1px 8.2px 8.2px hsl(0deg 0% 0% / 0.37);
        align-items: center;
        justify-content: space-between;
        margin: auto;
        @media screen and (max-width: 480px) {
          flex-wrap: wrap;
        }
        &__icon {
          margin-right: 12px;
          cursor: pointer;
        }
        .content {
          display: flex;
          align-items: center;
        }
        .content.left {
          width: 100%;
        }
        &__input {
          width: 100%;
          input {
            width: 82%;
            outline: none;
            border: none;
            font-size: 1.1rem;
            background-color: transparent;
            &::placeholder {
              font-size: 1.1rem;
              font-family: "Poppins", sans-serif;
              @media screen and (max-width: 480px) {
                font-size: 0.7rem;
              }
            }
          }
        }
        &__options {
          margin-right: 12px;

          select {
            cursor: pointer;
            font-size: 1.1rem;
            font-family: inherit;
            font-weight: 700;
            border: none;
            outline: none;
            padding: 12px 8px;
          }
        }
        &__btn {
          button {
            font-family: inherit;
            padding: 0.5rem 1.2rem;
            border-radius: 9px;
            background-color: #b4262c;
            border: none;
            color: white;
            cursor: pointer;
            font-weight: 500;
          }
        }
      }
    }
  }
}
